<!DOCTYPE html>
<html ng-app="usersApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>
    <script src="js/outils.js"></script>
    <script src="js/users.js"></script>
</head>
<body>
<div ng-controller="UsersController as usersList" class="container">

    <div class="row">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">RSS</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row">

        <form ng-submit="usersList.search()">
            <input type="text" ng-model="usersList.searchUserText"  size="30"
                   placeholder="add new todo here">
            <input class="btn-primary" type="submit" value="Search">
        </form>

        <table class="table" >
            <tr >
                <th>ID</th>
                <th>LOGIN</th>
                <th>NOM</th>
                <th>PRENOM</th>
            </tr>
            <tr ng-repeat="u in usersList.listeUsers">
                <td>{{ u.id }}</td>
                <td>{{ u.login }}</td>
                <td>{{ u.nom }}</td>
                <td>{{ u.prenom }}</td>
            </tr>
        </table>


    </div>

</div>
</body>
</html>